
{% if cart_list %}

 <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
    th, td {
			padding: 8px;
			text-align: center;
		}
		th {
			background-color: #ddd;
		}
		tr:nth-child(even){background-color: #f2f2f2}

    </style>
  </head>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Toys</a>

  <!-- Links -->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/shoppingindex">Home</a>
    </li>
  </ul>



  <form method="GET" action="{% url 'shoppingindex' %}">
    <input type="text" name="query" placeholder="Search..." value="{{ query }}">
    <button type="submit">Go</button>
  </form>

</nav>

    <div style="text-align: center;">
  <table style="margin: auto;">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for row in cart_list %}
        <tr>
          <td>{{ row.product_name }}</td>
          <td>{{ row.price }}</td>
          <td>
            <form method="post" action="{% url 'add_to_cart' %}">
              {% csrf_token %}
              <input type="hidden" name="product_name" value="{{ row.product_name }}">
              <input type="hidden" name="price" value="{{ row.price }}">
              <input type="hidden" name="original_quantity" value="{{ row.quantity }}">
              <input type="number" name="quantity" value="{{ row.quantity }}" min="1" max="99">
              <button type="submit">Update Cart</button>
            </form>
          </td>
          <td>
            <form method="post" action="{% url 'remove_from_cart' %}">
              {% csrf_token %}
              <input type="hidden" name="product_name" value="{{ row.product_name }}">
              <input type="hidden" name="price" value="{{ row.price }}">
              <button type="submit">Remove</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
      </div>
 <div style="text-align: center;"><p>Total: {{ total }}</p></div>

{% else %}
  <p>Your shopping cart is currently empty.</p>
{% endif %}

