<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>uniq_id</th>
                <th>product_name</th>
                <th>manufacturer</th>
                <th>price</th>
                <th>average_review_rating</th>
                <th>country</th>
            </tr>
        </thead>
        <tbody>
            {% for row in shopping_items %}
            <tr>
                <td>{{ row.uniq_id }}</td>
                <td>{{ row.product_name }}</td>
                <td>{{ row.manufacturer }}</td>
                <td>{{ row.price }}</td>
                <td>{{ row.average_review_rating }}</td>
                <td>{{ row.country }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
